---
layout: default
---

  {% for map in site.data.urlmap%}
     <a class="page-link" id="{{map.url}}" href="{{site.url}}/catogories/{{ map.url }}">{{map.title}} (0) </a> &nbsp;
  {% endfor%}
<div>
  <div>&nbsp;</div>

  {{ content }}
</div>
<script src="/assets/js/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
  {% for category in site.categories %}
  $("#"+"{{category | first}}").html($("#"+"{{category | first}}").html().replace("0","{{category | last | size }}"));
  {% endfor %}
</script>
